.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.grid-item {
    text-align: center;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: border-color 0.3s, background-color 0.3s, box-shadow 0.15s;
}
.grid-item:hover {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
.grid-item img {
    max-width: 85%;
    height: auto;
}
.grid-item h3 {
    margin: 10px 0;
}