:root {
    --line-icon-disabled: #888;
    --BR-line: #c48c31;
    --R-line: #e3002c;
    --R-b-line: #ef8c9d;
    --G-line: #008659;
    --G-b-line: #dbe021;
    --O-line: #ff8b00;
    --BL-line: #0070bd;
    --Y-line: #ffbf00;
    --LG-line: #9ed891;
    --LB-line: #7eb9e0;
    --V-line: #fd4046;
    --K-line: #aa7942;
    --A-line: #8344b1;
}

:root[data-colour-scheme="light"] {
    --line-icon-disabled: #555;
}

main img {
    width: 100%;
    height: auto;
}

.station-box.disabled {
    --line-colour: var(--line-icon-disabled);
}

#details-card {
    font-size: 1.2em;
    white-space: nowrap;
}

#details-card ruby {
    font-size: 1.1em;
}

#details-card tr:hover {
    background-color: rgb(from var(--line-colour) r g b / 0.1);
}

#details-card .table-container {
    margin-bottom: var(--gap-half);
    user-select: text;
    -webkit-user-select: text;
}

#details-card a {
    display: block;
    width: 100%;
}

#details-card a.display-none {
    display: none;
}

#details-card a img {
    border-radius: var(--gap-quarter);
}

#details-station-name td,
#details-station-subname td,
#details-station-misc td {
    width: 50%;
    border-width: 1px;
    transition: background-color 0.2s ease, font-size 0.2s ease;
}

#details-station-name tr:hover,
#details-station-subname tr:hover,
#details-station-misc tr:hover {
    background-color: initial;
}

#details-station-name td:hover,
#details-station-subname td:hover,
#details-station-misc td:hover {
    background-color: rgb(from var(--line-colour) r g b / 0.1);
}

#details-station-name td:hover,
#details-station-subname td:hover {
    font-size: 1.2em;
}

#details-station-line th,
#details-station-door th {
    width: 30%;
}

#details-station-line td,
#details-station-door td {
    width: 35%;
}

#transferStation-row {
    cursor: pointer;
}

#details-station-door .terminalStation {
    font-weight: 500;
}

#details-station-door .terminalStation::before {
    font-weight: 400;
    content: '往';
    margin-right: 1em;
}

#details-station-images {
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gap-quarter);
}

#details-station-stamp {
    object-fit: contain;
    height: min(261px, 25dvw);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(9em * 1.3), 1fr));
    gap: 0.8em;
    white-space: nowrap;
}

.grid.toc {
    grid-template-columns: repeat(auto-fill, minmax(calc(12em * 1.3), 1fr));
}

.line-title {
    line-height: 1.5em;
    margin-top: 2.35rem;
    border-bottom: solid;
    border-color: var(--line-colour);
    color: var(--line-colour);
    display: flex;
    align-items: center;
}

.line-title-en {
    line-height: 1.1em;
    font-size: 70%;
    margin-left: 0.35em;
    align-self: end;
}

.line-title .line-title-en {
    line-height: 1.5em;
}

.line-icon {
    border-radius: 0.4rem;
    background: var(--line-colour);
    color: rgb(var(--bg-rgb));
    font-family: var(--normal-font);
    min-width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    margin-right: 0.35em;
    text-align: center;
    font-size: 70%;
    align-content: center;
}

#line-transfer .line-icon {
    font-size: 100%;
    margin-right: 0;
}


.disabled-station {
    --line-colour: var(--line-icon-disabled);
}

.station-box {
    align-items: center;
    display: flex;
    background-color: var(--card-bg);
    border: 1px solid var(--border);
    border-radius: var(--gap-half);
    overflow-x: hidden;
    font-size: 130%;
    line-height: 1em;
    text-align: left;
}

.station-box:not(.disabled):hover {
    transform: scale(1.05);
    cursor: pointer;
    border-color: var(--line-colour);
    /* border-color: #008cba; */
}

.station-id {
    display: inline-block;
    border: 0.12em solid var(--line-colour);
    border-radius: 0.58em;
    padding: 0 0 0.2em 0;
    min-width: 1.8em;
    text-align: center;
    font-size: 60%;
    font-weight: bold;
    margin-right: 0.5em;
    color: var(--line-colour);
    user-select: none;
    -webkit-user-select: none;
}

.station-id.terminal {
    background: var(--line-colour);
    color: rgb(var(--bg-rgb));
}

.station-id-line {
    font-size: 70%;
}

.station-id-group .station-id:first-child {
    border-radius: 0.58em 0 0 0.58em;
    border-left-width: 0.12em;
}

.station-id-group .station-id:last-child {
    margin-right: 0.5em;
    border-radius: 0em 0.58em 0.58em 0em;
    border-right-width: 0.12em;
}

.station-id-group .station-id {
    margin-right: 0;
    border-radius: 0;
    border-left-width: 0.09em;
    border-right-width: 0.09em;
}

.station-id sub {
    vertical-align: baseline;
    font-size: 60%;
}

.mode-switch {
    margin-bottom: var(--gap);
    padding: var(--gap-half);
    border: none;
    border-radius: var(--gap-half);
    background-color: #008cba;
    color: rgb(var(--bg-rgb));
    cursor: pointer;
}

.warning {
    margin-bottom: var(--gap);
    padding: var(--gap-half);
    border-radius: var(--gap-half);
    background-color: #008cba;
    color: rgb(var(--bg-rgb));
    font-weight: 500;
}

@media only screen and (max-width: 600px) {
    .hide {
        display: none;
    }

    .grid {
        gap: 0.5em;
    }

    .info-card {
        padding: 0.5em;
    }

    .info-grid {
        grid-template-columns: 1fr;
    }
}