:root {
    color-scheme: var(--color-scheme, dark);
    --bg: #2b2d31;
    --bg-dark: #111214;
    --darker: #1e1f22;
    --color: #b5bac1;
    --title-color: #fff;
    --card-bg: #313338;
    --details-bg: var(--darker);
    --details-border: #444444;
    --border: #3f4147;
    --primary: #5865f2;
    --secondary: #4f545c;
    --teritary: #939cf7;
    --warning: #fee75c;
    --danger: #ed4245;
    --success: #3ba55c;
    --shadow: rgba(255, 255, 255, 0.05);
}

:root[data-colour-scheme="light"] {
    --color-scheme: light;
    --bg: #ffffff;
    --bg-dark: #f2f3f5;
    --darker: #e3e5e8;
    --color: #313338;
    --title-color: #060607;
    --card-bg: #f8f9fa;
    --details-bg: #ebedef;
    --details-border: #d4d7dc;
    --border: #e3e5e8;
    --primary: #5865f2;
    --secondary: #747f8d;
    --teritary: #4752c4;
}

#lang-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 110%;
    background: var(--bg-dark);
    min-width: 8.5em;
    border-radius: var(--gap-half);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--bg);
}

#lang-menu a {
    display: flex;
    align-items: center;
    gap: 0.25em;
    padding: 0.5rem 0.875rem;
    text-decoration: none;
    font-size: 0.9rem;
    transition: 0.2s;
    text-wrap: nowrap;
}

#lang-menu a:not(:last-of-type) {
    border-bottom: 1px solid var(--border);
}

.btn-fill {
    --btn-text: #fff;
}

details {
    border: 1.5px solid var(--details-border);
}

details[open] {
    box-shadow: 0 0 0 5px #23272ab3;
}

details summary {
    background-color: var(--details-bg);
}

h1,
h2,
h3 {
    margin-bottom: 1rem;
    color: var(--title-color);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
    margin-top: 3rem;
    border-bottom: 1px solid var(--border);
    padding-bottom: 10px;
}

h3 {
    font-size: 1.3rem;
    margin-top: 1.5rem;
}

p {
    margin-bottom: 1rem;
    line-height: 1.7;
}

.darker {
    background-color: var(--darker);
}

.discord-format-text {
    display: inline-block;
    margin: 0.2em 0;
    background-color: #3c4270;
    color: #c8ccfa;
    padding: 0.2em;
    border-radius: 0.5em;
    font-weight: 500;
    white-space: nowrap;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.discord-format-text:hover {
    background-color: var(--primary);
    color: #fff;
}

.top-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .top-part {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;

        h1 {
            margin-top: 0.5em;
        }

        h1+div {
            margin-left: auto;
        }
    }
}