#snackbarHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    pointer-events: none;
    position: fixed;
    z-index: 1001;
    left: 50%;
    bottom: 2em;
    width: 100%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease-in-out;
}

#snackbar {
    visibility: hidden;
    white-space: nowrap;
    background-color: rgb(from var(--card-bg) r g b / 0.7);
    backdrop-filter: blur(5px);
    --webkit-backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.1);
    color: var(--color);
    text-align: center;
    border-radius: 500px;
    padding: 1em 2em;
    width: fit-content;
}

#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {
        transform: translateY(50%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        transform: translateY(0%);
        opacity: 1;
    }

    to {
        transform: translateY(50%);
        opacity: 0;
    }
}