@font-face {
    font-family: 'Comfortaa';
    src: url('fonts/comfortaa.ttf');
}

@font-face {
    font-family: 'Comfortaa';
    src: url('fonts/comfortaa-bold.ttf');
    font-weight: bold;
}

@font-face {
  font-family: 'MOE Kai';
  src: url('fonts/edukai.ttf');
}

@font-face {
  font-family: 'Yuan Ti';
  src: url('fonts/yuanti.ttf');
}

@font-face {
  font-family: 'Hei Ti';
  src: url('fonts/heiti.ttf');
}

:root {
  --eng-font: 'Comfortaa', arial;
  --ch-font: 'MOE Kai', "標楷體", DFKai-sb, BiauKai;
  --md-text-font: var(--eng-font), var(--ch-font), sans-serif; 
}