.jyCh{
  display: inline-block;
  writing-mode: horizontal-tb;
}

.jyJy{
  display: inline-block;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 5px;
  vertical-align: middle;
}

.jyTn{
  display: inline-block;
  display: flex;
  margin-left: -25%;
}