.jyCh{
  display: inline-block;
  writing-mode: horizontal-tb;
}

.jyJy{
  display: inline-block;
  writing-mode: vertical-lr;
  vertical-align: middle;
  text-orientation: upright;
  transform-origin: left;
  transform: scale(0.33);
  margin-right: -17px;
}

.jyTn{
  display: inline-block;
  display: flex;
  margin-left: -25%;
  margin-right: -6px;
}

rt {
  padding-top: 5px;
  font-size: 50%;
}