@font-face {
  font-family: 'Comfortaa';
  src: url('fonts/comfortaa-bold.ttf');
}

@font-face {
  font-family: 'Barlow';
  src: url('fonts/barlow.ttf');
}

@font-face {
  font-family: 'Barlow';
  src: url('fonts/barlow-bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'MOE Kai';
  src: url('fonts/edukai.ttf');
}

@font-face {
  font-family: 'MOE Bpmf';
  src: url('fonts/edubpmf.ttf');
}

@font-face {
  font-family: 'Jhuyin';
  src: url('fonts/jhuyin.ttf');
}

@font-face {
  font-family: 'Yuan Ti';
  src: url('fonts/yuanti-bold.ttf');
}

@font-face {
  font-family: 'Hei Ti';
  src: url('fonts/heiti.otf');
}

@font-face {
  font-family: 'MOE Kai';
  src: url('fonts/heiti-bold.otf');
  font-weight: bold;
}

:root {
  --eng-font: 'Barlow';
  --ch-font: 'MOE Kai', 標楷體, DFKai-sb, BiauKai;
  --md-text-font: var(--eng-font), var(--ch-font), 'Hei Ti', sans-serif; 
}

h1, h2, h3, h4 {
  font-family: 'Comfortaa', 'Yuan Ti', sans-serif;
  text-justify: none;
}

body {
  font-feature-settings: "liga";
}

.md-content{
  text-align: justify;
  word-spacing: 15%;
}

#chjy {
  font-family: 'MOE Bpmf';
}

#jy {
  font-family: 'Jhuyin';
}

.md-typeset__table {
   min-width: 100%;
}

.md-typeset table:not([class]) {
    display: table;
}
