.jyJy{
  display: inline-block;
  writing-mode: vertical-lr;
  vertical-align: middle;
  text-orientation: upright;
  transform-origin: left;
  transform: scale(0.33);
  margin-right: -7%;
}

.jyTn{
  display: flex;
  margin-left: -30%;
  margin-right: -30%;
  margin-top: 35%;
  font-family: MOE Kai;
}

#Syl1{
  margin-right: -15%;
}

#Syl3{
  margin-right: -2.5%;
}

#Tn1{
  margin-left: -65%;
  margin-right: -50.5%;
  margin-top: -30%;
}

#Tn3{
  margin-left: -20%;
  margin-right: -20%;
  margin-top: 50%;
}

rt {
  padding-top: 5px;
  font-size: 50%;
}