@font-face {
    font-family: "ZutekSans";
    src: url("fonts/ZutekSans/ZutekSans-Medium.woff") format("woff");
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: "ZutekSans";
    src: url("fonts/ZutekSans/ZutekSans-Bold.woff") format("woff");
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: "Fangyin";
    src: local("TauhuOo"), local("Tauhu Oo"), url("https://cdn.jsdelivr.net/gh/tauhu-tw/tauhu-oo@master/TauhuOo20.05-Regular.woff2") format("woff2"), url("https: //cdn.jsdelivr.net/gh/tauhu-tw/tauhu-oo@master/TauhuOo20.05-Regular.woff") format("woff"), url("fonts/Fangyin.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Bpmf";
    src: url("fonts/BopomofoRuby.ttf");
}

@font-face {
    font-family: "JP";
    src: local("ヒラギノ角ゴ Pro"), local("Hiragino Kaku Gothic"), local("Hiragino Kaku Gothic Pro"), url("https://cdn.jsdelivr.net/gh/nerds-odd-e/scrumprimer@master/primer_source_files/overview_translations/scrum_japanese/Collected%20Fonts/Hiragino%20Kaku%20Gothic%20Pro/%E3%83%92%E3%83%A9%E3%82%AD%E3%82%99%E3%83%8E%E8%A7%92%E3%82%B3%E3%82%99%20Pro%20W3.otf") format("otf");
}

html {
    font-feature-settings: "kern";
}

:lang(zh-tw)>q {
    quotes: "「" "」" "『" "』";
}

:lang(zh-tw)>q.books {
    quotes: "《" "》";
}

:lang(zh-tw)>q.stories {
    quotes: "〈" "〉";
}

:lang(zh-tw)>ruby+ruby {
    margin-left: 0.5em;
}

:not(:lang(zh-tw))>ruby+ruby {
    margin-left: 0.4em;
}

:not(:lang(zh-tw))>ruby rt {
    font-size: 0.7em;
    font-weight: 500;
    padding-bottom: 0.3em;
}

.rubyWrapper {
    display: contents;
}

ruby rt {
    color: var(--border);
}

ruby rt:empty {
    display: none;
}

ruby rt .fyChar {
    font-family: 'Fangyin', sans-serif;
}

:lang(zh-tw)>ruby {
    display: inline-flex;
    align-items: center;
    /* margin-right: 0.2em; */
}

:lang(zh-tw)>ruby rt {
    display: inline-block;
    opacity: 0.7;
    font-family: 'ZutekSans', 'Bpmf', sans-serif;
    font-size: 0.4em;
    font-weight: 500;
    max-height: 3em;
    max-width: 1.5em;
    line-height: 1em;
    text-wrap: wrap;
    text-align: left;
    margin-left: 0.2em;
}

:lang(zh-tw)>ruby rt sup {
    display: inline-block;
    line-height: 0;
    font-size: 1em;
    width: 0.5em;
    height: 0;
    vertical-align: top;
    margin-left: -0.2em;
}

:lang(zh-tw)>ruby rt sub {
    display: block;
    text-align: center;
    margin-top: -0.75em;
    font-size: 1em;
}

:lang(zh-tw)>ruby rt:not(:has(sup)) {
    max-width: 1em;
}

:lang(en)>ruby {
    font-size: 100%;
    ruby-position: under;
}

:lang(ja) {
    font-family: 'JP', sans-serif;
    font-variant: proportional-width;
}

:lang(zh-min-nan),
:lang(zh-hakka) {
    font-language-override: "ZHT";
    -webkit-locale: 'zh-Hant';
}

:lang(zh-min-nan)>rt {
    font-family: 'Barlow', 'Fangyin', sans-serif;
}


:lang(zh-hakka)>ruby rt sup {
    margin: 0 -0.25em;
}

:lang(zh-tw)>ol.formal {
    list-style: trad-chinese-formal;
}

:lang(zh-tw)>ol.informal {
    list-style: trad-chinese-informal;
    padding: 0 0 0 3em;
}

:lang(zh-tw)>.game-icon-container::before {
    content: '遊戲圖標';
}