#snackbar {
    visibility: hidden;
    min-width: 10em;
    margin-left: -5em;
    background-color: var(--card-bg);
    text-align: center;
    border-radius: 50em;
    padding: var(--gap);
    position: fixed;
    z-index: 1;
    left: 50%;
    top: calc(var(--gap) * 3);
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: calc(var(--gap) * 3);
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: calc(var(--gap) * 3);
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: calc(var(--gap) * 3);
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: calc(var(--gap) * 3);
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}